.box-element {
    width:100%;
}

#pageTitleBox {
    margin-top:30px;
    margin-bottom:0;
}
.region-title {
    text-align: center;
    color:black;
    font-size: 28pt;
}
.region-subtitle {
    text-align: center;
    color: #9e9e9e;
    font-size: large;
}
.region-stat {
    text-align: center;
    font-size: 48pt;
}
.region-stat-diff{
    font-size: medium;
}
.region-stat-label {
    text-align: center;
    font-size: large;
}
.arr-color{
    color:#673ab7;
}
.heavensward-color{
    color:#03a9f4;
}
